<script src="{{scripts.captain}}" hidden></script>
<div class="ui segment">
    <h3 class="ui dividing header">Captain Dashboard</h3>

    <div class="ui two column grid">

        <div class="ui twelve wide column">
            <div class="ui three statistics">
                <div class="teal statistic">
                    <div class="value" id="captain_members_stat">0</div>
                    <div class="label">Club Members</div>
                </div>
                <div class="teal statistic">
                    <div class="value" id="captain_trips_stat">0</div>
                    <div class="label">Trips This Year So Far</div>
                </div>
                <div class="teal statistic">
                    <div class="value" id="captain_boats_stat">0</div>
                    <div class="label">Club Boats</div>
                </div>
            </div>
        </div>

        <div class="ui four wide column">
            <button class="ui fluid teal button announcement_button">
                <h4 class="ui center aligned icon header">
                    <i class="large announcement icon"></i>
                    Announcement
                </h4>
            </button>
        </div>

        <div class="ui sixteen wide column">

            {{#if captain.verificationRequests.length}}

            <div class="ui cards" id="captain_verification_list">

                {{#each captain.verificationRequests}}

                <div class="ui fluid card" id="{{this.memberId}}">
                    <div class="content">
                        <div class="ui left floated header" style="margin: 0px; padding-top: 2px">
                            {{this.firstName}} {{this.lastName}} -- Phone Number: {{this.phone}}
                        </div>
                        <div class="ui right floated mini buttons">
                            <div class="ui negative icon button deny-verification"><i class="close icon"></i></div>
                            <div class="ui positive icon button accept-verification"><i class="check icon"></i></div>
                        </div>
                    </div>
                </div>

                {{/each}}

            </div>

            {{else}}

            <div class="ui fluid placeholder segment">
                <div class="ui icon header">
                    <i class="check double icon"></i>
                    No pending verifications!
                </div>
            </div>

            {{/if}}
        </div>
    </div>
</div>