<div class="twelve wide column">

    <!-- Option buttons -->
    <div class="ui four column grid">

        <!-- Request trip button -->
        <div class="column">

            <a class="ui {{#if member.verified}}{{else}}disabled{{/if}} fluid teal button" href="/trip/create">
                <div class="ui first center aligned icon header">
                    <i class="big map icon"></i>
                    Request Trip
                </div>
            </a>
        </div>

        <!-- Book gear button -->
        <div class="column">

            <a class="ui disabled fluid teal button" href="/equipment/book">
                <div class="ui first center aligned icon header">
                    <i class="big shopping cart icon"></i>
                    Book Gear
                </div>
            </a>
        </div>

        <!-- Expenses button -->
        <div class="column">

            <a class="ui {{#if member.verified}}{{else}}disabled{{/if}} fluid teal button" href="/expenses">
                <div class="ui first center aligned icon header">
                    <i class="big receipt icon"></i>
                    Submit Expense
                </div>
            </a>
        </div>

        <!-- Expenses button -->
        <div class="column">

            <a class="ui disabled fluid teal button" href="/volunteer">
                <div class="ui first center aligned icon header">
                    <i class="big heart icon"></i>
                    Volunteering
                </div>
            </a>
        </div>
    </div>



    <!-- Dashboard -->
    <div class="ui segment">

        <!-- Trips -->
        <a href="/profile/me/trips">
            <h3 class="ui dividing header" style="width: 100%;">
                My Trips <i class="small angle double right icon"></i>
            </h3>
        </a>

        {{#if member.trips.length}}

        <div class="ui items">

            {{#each member.trips}}

            <a class="ui fluid link card" href="/trip/{{this.tripId}}" style="color: black;">
                <div class="content">
                    <div class="header">
                        <div class="ui left floated">{{this.name}}</div>
                        <div class="ui right floated">Minimum Level: {{this.level}}</div>
                    </div>
                    <h5>From {{this.startDate}} to {{this.endDate}}</h5>
                </div>
            </a>

            {{/each}}

        </div>

        {{else}}

        <div class="ui fitted segment" id="trips">
            <div class="ui fluid placeholder segment">
                <div class="ui icon header">
                    <i class="map icon"></i>
                    You have not been on any trips yet!
                </div>
            </div>
        </div>

        {{/if}}



        <!-- Qualifications -->
        <h3 class="ui dividing header">My Qualifications</h3>

        {{#if member.certs.length}}

        <div class="ui items">

            {{#each member.certs}}
            <a class="ui fluid link card" href="{{this.link}}" style="color: black;">
                <div class="content">
                    <div class="header">
                        <div class="ui left floated">{{this.name}}</div>
                        <div class="ui right floated">{{this.category}} Certificate</div>
                    </div>
                    <h5>This certificate shows the owner is able to:</h5>
                    <ol class="ui list">
                        {{#each this.aims}}
                        <li value="-">{{this}}</li>
                        {{/each}}
                    </ol>
                </div>
            </a>
            {{/each}}

        </div>

        {{else}}

        <div class="ui fitted segment" id="certs">
            <div class="ui fluid placeholder segment">
                <div class="ui icon header">
                    <i class="graduation cap icon"></i>
                    You do not have any qualifications yet!
                </div>
            </div>
        </div>

        {{/if}}
    </div>

    {{#if committee}}
    <div class="ui modal" id="announcement_modal">
        <div id="text_editor"></div>
    </div>
    <script type="module">
        import Editor from 'https://cdn.jsdelivr.net/npm/@tiptap/core@2.0.0-beta.174/dist/tiptap-core.cjs.min.js'
        import StarterKit from 'https://cdn.jsdelivr.net/npm/@tiptap/starter-kit@2.0.0-beta.183/dist/tiptap-starter-kit.cjs.min.js'
        new Editor({
            element: document.getElementById('text_editor'),
            extensions: [StarterKit],
        })
    </script>
    {{/if}}

    {{#if captain}}{{> captain}}{{/if}}

    {{#if vice}}{{> vice}}{{/if}}

    {{#if safety}}{{> safety}}{{/if}}

    {{#if treasurer}}{{> treasurer}}{{/if}}

    {{#if equipments}}{{> equipments}}{{/if}}

    {{#if pro}}{{> pro}}{{/if}}

    {{#if freshers}}{{> freshers}}{{/if}}

</div>

{{> sidebar}}